@model MariaCositas.Models.TipoServicio

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TipoServicio</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prenda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prenda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Arreglo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Arreglo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdTipoServicio">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
