@model IEnumerable<MariaCositas.Models.TipoServicio>

@{
    ViewData["Title"] = "Index";
}

<h1>Tipo de Servicios</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<p>
    <input type="submit" value="Create New" action="Create" class="btn btn-primary" />
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Prenda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Arreglo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Prenda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Arreglo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdTipoServicio">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdTipoServicio">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdTipoServicio">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
